#home .home-caption {
  width: 100%;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#home .home-caption h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6em;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.403);
  text-align: center;
  margin: 14px 0;
}
#home .home-caption .line {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.403);
  margin: 0 auto;
  width: 60%;
  height: 2px;
  border: 1px solid #ffffff;
}

.intro .container-fluid .container .aboutme-flex img {
  width: 90%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}
.intro .container-fluid .container .aboutme-flex .intro-text {
  font-family: "Pt Serif", serif;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.772);
  width: 80%;
  padding: 20px;
  text-align: justify;
  border-radius: 4px;
  margin: 0 auto;
}

.new-blogitem-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
.new-blogitem-container .new-blogitem {
  margin: 4px 38px;
  text-align: center;
}
.new-blogitem-container .new-blogitem img {
  width: 280px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-blogitem-container .new-blogitem h3 {
  margin-top: 20px;
}
.new-blogitem-container .new-blogitem h3 a, .new-blogitem-container .new-blogitem span a {
  font-size: 1em;
}
.new-blogitem-container .new-blogitem span a {
  position: relative;
  bottom: 10px;
}

.blog-des1 {
  padding: 6px;
}

@media (min-width: 1950px) {
  .blog-des1 {
    width: 1500px;
    margin: 0 auto;
    padding: 6px;
  }
}
.bg-dark {
  width: 100%;
}
.bg-dark .arr-container {
  display: flex;
  justify-content: center;
  margin: 6px 0;
}
.bg-dark .image-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px 6px 0 6px;
}
.bg-dark .image-container .mySlides {
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
  width: 100%;
  height: 80vh;
}
.bg-dark .arr-display-left, .bg-dark .arr-display-right {
  color: white;
  margin: 6px;
  border-radius: 2px;
  margin: 0 20px;
  font-size: 2em;
}
.bg-dark .arr-display-left:hover, .bg-dark .arr-display-right:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.367);
}

.glass-effect {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.testimonial-text, .fa-quote-left {
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
}

.test-name {
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* new page portfolio updarte */
.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 6px;
}

.img1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img.grid-tall-port {
  grid-row: span 12/auto;
  grid-column: span 6/auto;
}

img.grid-land {
  grid-row: span 4/auto;
  grid-column: span 6/auto;
}

img.grid-sm-port-l {
  grid-row: span 4/auto;
  grid-column: span 2/auto;
}

img.grid-sm-port-m {
  grid-row: span 4/auto;
  grid-column: span 2/auto;
}

img.grid-sm-port-r {
  grid-row: span 4/auto;
  grid-column: span 2/auto;
}

img.grid-md-port-l {
  grid-row: span 3/auto;
  grid-column: span 3/auto;
}

img.grid-md-port-r {
  grid-row: span 3/auto;
  grid-column: span 3/auto;
}

img.grid-md-land-l {
  grid-row: span 4/auto;
  grid-column: span 4/auto;
}

img.grid-md-land-r {
  grid-row: span 4/auto;
  grid-column: span 4/auto;
}

img.grid-sm-land-l {
  grid-row: span 2/auto;
  grid-column: span 3/auto;
}

img.grid-sm-land-r {
  grid-row: span 2/auto;
  grid-column: span 3/auto;
}

.blog-caption {
  text-align: center;
  position: relative;
  top: 160px;
}
.blog-caption h1 {
  color: white;
  font-size: 2em;
}
.blog-caption img {
  width: 4%;
}

.blog-loadmore-btn {
  text-align: center;
}
.blog-loadmore-btn a:hover {
  cursor: not-allowed;
}

@media (max-width: 1300px) {
  .new-blogitem-container {
    width: 100% !important;
  }
  .new-blogitem-container .new-blogitem {
    margin: 2px;
  }
  .new-blogitem-container .new-blogitem img {
    width: 194px !important;
    height: 194px !important;
  }
  .new-blogitem-container .new-blogitem h3 a, .new-blogitem-container .new-blogitem span a {
    font-size: 0.8em;
  }
}
@media (max-width: 1700px) {
  .new-blogitem-container {
    width: 100% !important;
  }
  .new-blogitem-container img {
    width: 250px !important;
    height: 250px !important;
  }
}
@media (max-width: 2100px) {
  .new-blogitem-container {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  .intro .container-fluid .container .aboutme-flex img {
    width: 100%;
    height: 240px;
  }
  .intro .container-fluid .container .aboutme-flex .intro-text {
    width: 90%;
  }
  .new-blogitem-container {
    width: 100%;
  }
  .new-blogitem-container .new-blogitem {
    margin: 10px;
  }
  .new-blogitem-container .new-blogitem img {
    width: 200px !important;
    height: 200px !important;
  }
}
@media (max-width: 1052px) {
  .new-blogitem-container {
    width: 100%;
  }
  .new-blogitem-container .new-blogitem {
    margin: 2px;
  }
  .new-blogitem-container .new-blogitem img {
    width: 200px !important;
    height: 200px !important;
  }
}
@media (max-width: 900px) {
  .intro .container-fluid .container .aboutme-flex img {
    width: 100%;
    height: 200px;
  }
  .intro .container-fluid .container .aboutme-flex .intro-text {
    font-size: 1.1em;
    width: 100%;
  }
  .new-blogitem-container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .intro-text {
    line-height: 1.6;
  }
  .testimonial-text {
    font-size: 1.4em;
    line-height: 1.4;
  }
  .bg-dark .image-container {
    width: 100%;
    padding: 6px 6px 0 6px;
  }
  .bg-dark .image-container .mySlides {
    width: 100%;
    height: 60vh;
  }
  .new-blogitem-container {
    width: 100%;
  }
  .new-blogitem-container .new-blogitem {
    margin: 10px;
  }
  .new-blogitem-container .new-blogitem img {
    width: 250px !important;
    height: 250px !important;
  }
}/*# sourceMappingURL=style-update.css.map */